.user {
  width: 100%;

  .user_container {
    display: flex;
    align-items: center;
    gap: 12px;

    #avatar {
      width: 32px;
    }

    .username {
      font-size: 14px;
      font-weight: 800;
    }
  }
}
